<% if !current_user.is_a?(GuestUser) %>
	<h1>Hi, <%= current_user.initials %></h1>
<% end %>

<p>Find me in app/views/pages/home.html.erb</p>

<h2 class="heading">Sporty people</h2>
<%= @pros.inspect %>

<h2>Clubs</h2>
<%= @clubs.inspect %>